<a href="https://colab.research.google.com/github/Navya-89/Boston_City_Score_Analysis/blob/main/City_Score_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving bostoncityscore.csv to bostoncityscore.csv

In [ ]:
import pandas as pd
import numpy as np
df_city_score = pd.read_csv('bostoncityscore.csv')

In [ ]:
df_city_score

,metric_name,score_calculated_ts,target,metric_logic,day_score,day_numerator,day_denominator,week_score,week_numerator,week_denominator,month_score,month_numerator,month_denominator,quarter_score,quarter_numerator,quarter_denominator,latest_score_flag
0,LIBRARY USERS,2022-09-19 08:55:44.060908,NaN,current_average / historical_average,1.295433,11582.0,8940.642857,1.421758,12711.428571,8940.642857,1.426604,12858.548387,9013.394737,1.421635,12327.076087,8671.057971,0
1,LIBRARY USERS,2022-09-16 08:45:03.994233,NaN,current_average / historical_average,1.500630,13319.0,8875.607143,1.441221,12791.714286,8875.607143,1.426604,12858.548387,9013.394737,1.421635,12327.076087,8671.057971,0
2,LIBRARY USERS,2022-09-14 10:21:02.485007,NaN,current_average / historical_average,1.578709,14012.0,8875.607143,1.441221,12791.714286,8875.607143,1.426604,12858.548387,9013.394737,1.421635,12327.076087,8671.057971,0
3,LIBRARY USERS,2022-09-12 08:05:34.248772,NaN,current_average / historical_average,1.341655,11908.0,8875.607143,1.441221,12791.714286,8875.607143,1.426604,12858.548387,9013.394737,1.421635,12327.076087,8671.057971,0
4,LIBRARY USERS,2022-09-15 09:15:45.795258,NaN,current_average / historical_average,1.528346,13565.0,8875.607143,1.441221,12791.714286,8875.607143,1.426604,12858.548387,9013.394737,1.421635,12327.076087,8671.057971,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40171,TREE MAINTENANCE ON-TIME %,2021-11-02 07:30:24.382527,0.8,sum(numerator_value)/sum(denominator_value)/ta...,0.937500,3.0,4.000000,1.234940,82.000000,83.000000,1.196581,224.000000,234.000000,1.158425,759.000000,819.000000,0
40172,CODE ENFORCEMENT ON-TIME %,2021-11-02 07:30:39.996986,0.8,sum(numerator_value)/sum(denominator_value)/ta...,1.250000,70.0,70.000000,1.239193,344.000000,347.000000,1.243229,1836.000000,1846.000000,1.242640,7935.000000,7982.000000,0
40173,CODE ENFORCEMENT TRASH COLLECTION,2021-11-02 07:30:55.70657,0.8,sum(numerator_value)/sum(denominator_value)/ta...,0.608108,18.0,37.000000,1.063144,165.000000,194.000000,0.991282,705.000000,889.000000,1.135148,5179.000000,5703.000000,0
40174,ON-TIME PERMIT REVIEWS,2021-11-02 07:31:11.267262,1.0,sum(numerator_value)/sum(denominator_value)/ta...,NaN,NaN,NaN,0.796491,227.000000,285.000000,0.809025,1004.000000,1241.000000,0.865375,3394.000000,3922.000000,0
40175,CITY SERVICES SATISFACTION SURVEYS,2021-11-02 07:31:26.875872,4.0,sum(numerator_value)/sum(denominator_value)/ta...,0.450000,9.0,5.000000,0.723214,81.000000,28.000000,0.754587,329.000000,109.000000,0.828588,1455.000000,439.000000,0

In [ ]:
#@title
df_city_score['score_calculated_ts'] = pd.to_datetime(df_city_score['score_calculated_ts'] )

In [ ]:
#@title
df_city_score['year'] = df_city_score['score_calculated_ts'].dt.year

In [ ]:
#@title
df_subset = df_city_score[['metric_name', 'year', 'day_score']]
df_subset

                              metric_name  year  day_score
0                           LIBRARY USERS  2022   1.295433
1                           LIBRARY USERS  2022   1.500630
2                           LIBRARY USERS  2022   1.578709
3                           LIBRARY USERS  2022   1.341655
4                           LIBRARY USERS  2022   1.528346
...                                   ...   ...        ...
40171          TREE MAINTENANCE ON-TIME %  2021   0.937500
40172          CODE ENFORCEMENT ON-TIME %  2021   1.250000
40173   CODE ENFORCEMENT TRASH COLLECTION  2021   0.608108
40174              ON-TIME PERMIT REVIEWS  2021        NaN
40175  CITY SERVICES SATISFACTION SURVEYS  2021   0.450000

[40176 rows x 3 columns]

In [ ]:
df_subset['year'].nunique()

5

In [ ]:
#@title
df_subset["status"] = np.where(df_subset["day_score"] >1 , 1, 0)
df_subset

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                              metric_name  year  day_score  status
0                           LIBRARY USERS  2022   1.295433       1
1                           LIBRARY USERS  2022   1.500630       1
2                           LIBRARY USERS  2022   1.578709       1
3                           LIBRARY USERS  2022   1.341655       1
4                           LIBRARY USERS  2022   1.528346       1
...                                   ...   ...        ...     ...
40171          TREE MAINTENANCE ON-TIME %  2021   0.937500       0
40172          CODE ENFORCEMENT ON-TIME %  2021   1.250000       1
40173   CODE ENFORCEMENT TRASH COLLECTION  2021   0.608108       0
40174              ON-TIME PERMIT REVIEWS  2021        NaN       0
40175  CITY SERVICES SATISFACTION SURVEYS  2021   0.450000       0

[40176 rows x 4 columns]

In [ ]:
#@title
df_table_pivot = df_subset.groupby(['metric_name','year'],as_index=False)['status'].sum()
df_table_pivot

                     metric_name  year  status
0    311 CALL CENTER PERFORMANCE  2018     239
1    311 CALL CENTER PERFORMANCE  2019     157
2    311 CALL CENTER PERFORMANCE  2020     101
3    311 CALL CENTER PERFORMANCE  2021      39
4    311 CALL CENTER PERFORMANCE  2022      23
..                           ...   ...     ...
109   TREE MAINTENANCE ON-TIME %  2018     218
110   TREE MAINTENANCE ON-TIME %  2019     226
111   TREE MAINTENANCE ON-TIME %  2020     178
112   TREE MAINTENANCE ON-TIME %  2021     213
113   TREE MAINTENANCE ON-TIME %  2022     124

[114 rows x 3 columns]

In [ ]:
#@title
df_result = df_table_pivot.pivot(index='metric_name', columns='year', values='status')

In [ ]:
#@title
df_result

In [ ]:
#@title
import seaborn as sns
import matplotlib.pyplot as plt
sns.heatmap(df_result, cmap="YlGnBu", linewidth=0.5, xticklabels=True, yticklabels=True)
plt.gcf().set_size_inches(10, 10, )